body {
	padding: 50px;
	background: black;
	color: white; 
	/* #ff1400 */
	font-family: 'IBM Plex Mono', monospace;
}

#info {
	text-align: center;
	color: white;
}

#notSupported {
	display: none;
	color: white;
	margin-bottom: 20px;
}

#ascii {
	font-family: 'IBM Plex Mono', monospace;
	font-size: 0.8rem;
	line-height: 0.8rem;
	letter-spacing: -1.5px;
	text-align: center;
}

#button {
	display: none;
	margin: 20px auto;
}